@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap');


/* main styles */
html,body{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #4F4744;
}
*{
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}*::selection{
    background-color: #FFE76B;
    text-shadow: 0 0 5px rgb(72, 73, 5);
}img::selection{
    background-color: transparent;
}







/* page -1- style starts here */
.page1{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #4F4744;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    color: white;
}.page1>*{
    animation: animatePage1 1s ease;
}
@keyframes animatePage1 {from{transform: scale(.3);opacity: 0;}}
.img1{
    margin-top: 15px;
    margin-bottom: 15px;
}
.page1Title{
    font-size: clamp(1.2rem , 2.2vw , 2.2vw);
    text-transform: capitalize;
    font-weight: 700;
}.page1body{
    font-size: clamp(1.2rem , 1.1vw , 1.1vw);
    text-transform: capitalize;
    max-width: 270px;
    margin: auto;
}
.letsStartBtn{
    padding: 10px 60px;
    font-size: 1.1rem;
    border-radius: 5px;
    margin-top: 70px;
    background-color: #FFE76B;
    color: #4F4744;
    text-transform: capitalize;
    font-weight: 600;
    border: none;
    cursor: pointer;
}.letsStartBtn:active{
    transform: scale(.94);
}
/* page -1- style ends here */













/* page2 */
.page2{
    position: fixed;
    top: 0;
    left: 100%;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-image: url(./imgs/backgroundImg.png);
    background-size: contain;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    background-color: #FFE76B;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.animatePage2Slider{
    animation: animateSlider 1s ease forwards;
}
@keyframes animateSlider {
    to{
        left: 0;
    }
}
.page2Nav{
    background-color: #4F4744;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}.nfRight{
    margin-left: 6px;
    font-family: sans-serif;
}
.navLeft{
    display: flex;
    justify-content: space-between;
    align-items: center;
}.p1{
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
}.p2{
    font-size: 1rem;
}
.threeCircles{
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
.c{
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    position: relative;
}
.page2Bottom{
    display: flex;
    flex-direction: column;
}.newMsgInput{
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    background-color: #FEFEE9;
    color: #4F4F4F;
    font-size: 1.2rem;
}.newMsgInput::placeholder{
    color: #4F4F4F;
}

.msgsContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.Minionmsg, .myMsg{
    position: relative;
    background-color: #FFFB9E;
    margin: 10px 25px;
    padding: 10px;
    border-radius: 10px;
    font-family: sans-serif;
    width: fit-content;
    min-width: 70px;
}.msgTop{
    color: #4F4744;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 8px;
}
.myMsg{
    margin-left: auto;
}
.msgBottom{
    color: #4F4744;
    font-size: 1.1rem;
}
/* for massege tringle */
.Minionmsg::before{
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 10px;
    left: -14px;
    width: 0px;
    height: 0px;
    border-right: 15px solid #FFFB9E;
    border-top: 10px solid transparent ;
    border-bottom: 10px solid transparent;
}
/* for massege tringle */
.myMsg::before{
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 10px;
    right: -14px;
    transform: rotate(180deg);
    width: 0px;
    height: 0px;
    border-right: 15px solid #FFFB9E;
    border-top: 10px solid transparent ;
    border-bottom: 10px solid transparent ;
}






.settingsContainer{
    position: absolute;
    right: 0;
    top: 54px;
    width: 0px;
    z-index: 1000;
    background: #4f4744ab;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    font-family: sans-serif;
    padding: 30px 0;
    overflow: hidden;
    transition: all .4s ease;
}.setTitle{
    color: white;
    font-size: 2rem;
}.devs{
    margin-top: 20px;
    font-size: 1.2rem;
    color: white;
    text-transform: capitalize;
}

.showsettingsContainer{
    width: 300px;
}




@media (min-width: 750px){
    .page2>*{
        width: 700px;
        margin: auto;
    }
    .msgsContainer::-webkit-scrollbar{
        width: 0;
    }
}